<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <input type="submit" name="" value="Login" routerLink='/login' /><br />
    </div>
    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">

      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Register</h3>
          <form [formGroup]="registerForm" (submit)="registerUs()">
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="First Name *" formControlName="firstname" />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Last Name *" formControlName="lastname"  />
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Your Email *" formControlName="email"  />
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password *" formControlName="password"  />
                </div>
                <input type="submit" class="btnRegister" value="Register" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
